python-telegram-bot[rate-limiter]==20.1
openai>=0.27.0
tiktoken>=0.3.0
PyYAML==6.0
python-dotenv==0.21.0
pydub==0.25.1
elevenlabs==0.2.15
pinecone-client==2.2.1
langchain==0.0.194
dnspython==2.3.0
motor==3.1.2
pymongo==4.3.3